/******************************************************************
Site Name:
Author:

Stylesheet: Colours

Here is where we declare our colour variables

******************************************************************/

$white:               white;
$black:               black;

$link-colour:        purple;
$link-hover:        darken($link-colour, 9%);


