/******************************************************************
Site Name:
Author:

Stylesheet: Colours

Here is where we declare our colour variables

******************************************************************/




$link-colour:        purple;
$link-hover:        darken($link-colour, 9%);


